* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
:root {
  --primary-color: rgba(111, 66, 193, 1);
  --secondary-color: rgba(248, 245, 252, 1);
  --text-color: rgba(128, 128, 129, 1);
  --secondary-text-color: rgba(152, 152, 152, 1);
}

/* common css */
.common-para {
  font-size: 0.8rem;
  font-weight: 400px;
  color: var(--text-color);
  line-height: 15px;
  text-align: justify;
}

@media (min-width: 1200px) {
  .common-para {
    font-size: 0.95rem;
    line-height: 23px;
  }
}
